/* Colors */
$white: #FFFFFF;
$black: #000000;

$blue: #009cde;
$green: #76b570;

$grey: #f4f4f4;
$darkgrey: #4f4f4f;

$yellow: #eecb3d;
$brightyellow: #f1d564;

/* Font families */
$fontPri: Helvetica Rounded LT Std;
$fontSec: 'Raleway', sans-serif;

/* Sizes */
$baseWidth: 1170px;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

@font-face {
	font-family: 'Helvetica Rounded LT Std';
	src: url('../fonts/HelveticaRoundedLTStd-Bd.eot');
	src: url('../fonts/HelveticaRoundedLTStd-Bd.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaRoundedLTStd-Bd.woff2') format('woff2'),
	url('../fonts/HelveticaRoundedLTStd-Bd.woff') format('woff'),
	url('../fonts/HelveticaRoundedLTStd-Bd.ttf') format('truetype'),
	url('../fonts/HelveticaRoundedLTStd-Bd.svg#HelveticaRoundedLTStd-Bd') format('svg');
	font-weight: bold;
	font-style: normal;
}