#contact {
	background: image-url('bg-form.jpg') no-repeat;
	background-position: center center;

	width: 100%;
	max-height: 765px;

	.contact--wrapper {
		@extend .clearfix;

		width: 95%;
		max-width: 540px;

		display: block;
		position: relative;

		margin: 0 auto;

		@media (max-width: $baseWidth) {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}

		h2 { span { font-size: 42px; } }

		.contact--subtitle {
			color: $white;

			width: 100%;
			max-width: 500px;

			margin: 0 auto;

			text-align: center;
			font-weight: 400;
		}

		form {
			.form-row {
				@extend .clearfix;
				width: 100%;
			}

			.field-full, .field-half, .field-big, .field-small, .field-text {
				border-style: solid;
				border-width: 1px;
				border-color: rgb( 89, 196, 201 );

				border-radius: 6px 6px 6px 6px;
				-moz-border-radius: 6px 6px 6px 6px;
				-webkit-border-radius: 6px 6px 6px 6px;

				background-color: rgb( 236, 239, 244 );

				margin: 10px;
				padding: 0 15px;

				float: left;

				font-size: 15px;
				font-family: "Raleway";

				color: $blue;

				line-height: 1.667;
				text-align: left;
			}

			.field-full, .field-half, .field-big, .field-small { height: 50px; }
			.field-full { width: calc(100% - 20px); }
			.field-half { width: calc(50% - 20px); }
			.field-big { width: calc(80% - 20px); }
			.field-small { width: calc(20% - 20px); }
			.field-text {
				width: calc(100% - 20px);
				height: 100px;

				margin: 10px 10px 30px 10px;
			}

			button {
				padding: 14px 50px;

				&:hover { span { i { background-position: bottom center;} } }

				span {
					i {
						background: image-url('ico-arrow-right.png') no-repeat;
						background-position: top center;

						display: block;
						width: 13px;
						height: 11px;

						float: right;
						margin: 8px 0 0 13px;
					}
				}
			}
		}
	}
}