header {
	@extend .container;

	.navbar {
		background: $blue;
		width: 100%;
		min-height: 105px;

		position: fixed;
		z-index: 9999;

		h1 {
			background: image-url('logo-busca-ativa-escolar.png') no-repeat;

			background-size: cover;

			text-indent: -9999px;
			overflow: hidden;
			float: left;

			width: 158px;
			height: 51px;

			cursor: pointer;

			position: relative;
			z-index: 100;

			margin: 28px 0 0 0;
		}

		.hamburger {
			display: none;

			@media (max-width: 1050px) {
				float: right;
				display: block;

				position: relative;

				border: 0;
				text-indent: -9999px;
				overflow: hidden;
				background: transparent;

				width: 40px;
				height: 40px;

				margin: 30px 0 0 0;

				span {
					width: 100%;
					height: 5px;

					display: block;
					margin: 18px 0;

					background: $white;
				}

				&:before, &:after {
					content: '';

					position: absolute;

					width: 100%;
					height: 5px;

					display: block;

					background: $white;
				}

				&:before { top: 0px; }
				&:after { bottom: 0px; }
			}
		}

		nav {
			float: right;
			width: calc(100% - 180px);
			min-height: 105px;

			@media (max-width: 1050px) {
				position: absolute;

				top: 105px;
				right: 0;

				width: 100%;
				max-width: 220px;

				background: $grey;

				-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
				-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
				box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);

				display: none;

				&.open { display: block; }
			}

			@media (max-width: 360px) {
				width: 100%;
				max-width: 100%;
			}

			ul {
				width: 100%;
				min-height: 105px;

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;

				justify-content: flex-end;

				align-items: center;
				align-content: center;

				@media (max-width: 1050px) {
					display: table;
					margin: 25px 0;
				}

				li {
					display: table;
					margin: 0 23px;

					@media (max-width: 1170px) {
						margin: 0 10px;
					}

					@media (max-width: 1050px) {
						width: 100%;
					}

					a {
						padding-bottom: 39px;

						font-size: 13.4px;
						font-family: $fontSec;
						font-weight: bold;

						color: $white;

						text-transform: uppercase;
						line-height: 1.493;

						text-decoration: none;

						@media (max-width: 1050px) {
							color: $black;
							padding: 0px 0px 0px 10px;
							margin: 5px 0;
							line-height: 2;
						}

						@media (max-width: 360px) {
							line-height: 3;
							font-size: 15px;
						}

						&:active, &:hover {
							border-bottom: 5px solid $yellow;

							@media (max-width: 1050px) {
								border-bottom: 0px;
								border-left: 5px solid $yellow;
								padding: 0px 0px 0px 5px;
							}
						}
					}
				}
			}
		}
	}

	.header--banner {
		@extend .clearfix;

		background: image-url('banner-bg.jpg') no-repeat;
		background-position: center center;
		background-size: cover;

		width: 100%;
		height: 550px;

		box-shadow: 0px 5px 16px 0px rgba( 0, 0, 0, 0.3 );

		.wrapper {
			position: relative;
			height: 100%;
		}
	}
}