.info--wrapper {
	@extend .clearfix;

	width: 100%;
	max-width: 1010px;

	display: block;
	position: relative;

	margin: 0 auto;

	@media (max-width: $baseWidth) {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.info--subtitle {
		color: $darkgrey;

		width: 100%;
		max-width: 690px;

		margin: 0 auto;

		text-align: center;
		font-weight: 400;
	}

	.info {
		@extend .clearfix;

		background: image_url('info-desk.png') no-repeat;
		background-position: center center;

		width: 100%;
		max-width: 740px;
		height: 1370px;

		display: block;
		margin: 50px auto 200px 200px;

		position: relative;

		@media (max-width: 1120px) {
			background: image_url('') no-repeat;
			margin: 0 auto;
		}

		.info--img-resp--container {
			@extend .clearfix;
			display: none;

			@media (max-width: 1120px) {
				width: 100%;
				float: left;
				display: block;

				.info--img-resp {
					width: 100%;
					max-width: 460px;

					display: block;

					margin: 0 auto;
				}
			}
		}

		.info--pref, .info--gest, .info--coord, .info--sup, .info--age, .info--tec {
			@extend .clearfix;

			position: absolute;

			p {
				font-size: 15px;
				font-family: $fontSec;
				color: $darkgrey;
				font-weight: 300;
				line-height: 1.5;

				@media (max-width: 450px) { font-size: 12px; line-height: 1.2; }

				span {
					font-weight: bold;
					text-transform: uppercase;
					font-size: 18px;

					@media (max-width: 450px) { font-size: 15px; }
				}
			}

			strong { color: $blue; }
		}

		.info--pref, .info--coord, .info--age { text-align: right; }
		.info--gest, .info--sup, .info--tec { text-align: left; }

		.info--pref {
			width: 305px;
			height: 80px;

			top: 65px;
			left: -80px;

			@media (max-width: 1120px) {
				text-align: center !important;

				position: relative !important;

				top: 0 !important;
				left: 0 !important;

				width: 100% !important;
				float: left !important;
			}

			span { color: #384a57; }
		}
		.info--gest {
			width: 340px;
			height: 120px;

			top: 340px;
			left: 400px;

			@media (max-width: 1120px) {
				text-align: center !important;

				position: relative !important;

				top: 0 !important;
				left: 0 !important;

				width: 100% !important;
				float: left !important;
			}

			span { color: #f04f5b; }
		}
		.info--coord {
			width: 260px;
			height: 160px;

			top: 460px;
			left: -260px;

			@media (max-width: 1120px) {
				text-align: center !important;

				position: relative !important;

				top: 0 !important;
				left: 0 !important;

				width: 100% !important;
				float: left !important;
			}

			span { color: #2374a9; }
		}
		.info--sup {
			width: 340px;
			height: 180px;

			top: 610px;
			left: 520px;

			@media (max-width: 1120px) {
				text-align: center !important;

				position: relative !important;

				top: 0 !important;
				left: 0 !important;

				width: 100% !important;
				float: left !important;
			}

			span { color: #f78726; }
		}
		.info--age {
			width: 250px;
			height: 90px;

			top: 1070px;
			left: -160px;

			@media (max-width: 1120px) {
				width: 270px;
				top: 2650px;
			}

			@media (max-width: 450px) { top: 1850px; }

			span { color: #61618a; }
		}
		.info--tec {
			width: 370px;
			height: 105px;

			top: 1350px;
			left: 215px;

			@media (max-width: 1120px) {
				text-align: center !important;

				position: relative !important;

				top: 0 !important;
				left: 0 !important;

				width: 100% !important;
				float: left !important;
			}

			span { color: #8cb826; }
		}
	}
}

.info--last-container {
	@extend .clearfix;

	@media (max-width: 1120px) {
		float: left;
		width: 100%;

		position: relative;
	}

	.info--age {
		@media (max-width: 1120px) {
			.clearfix:before, .clearfix:after { content: " "; display: table; }
			.clearfix:after { clear: both; }
			.clearfix { *zoom: 1; }

			position: absolute;

			top: 330px !important;
			left: 100px !important;
		}

		@media (max-width: 770px) { left: 50px !important; }
		@media (max-width: 650px) { left: 0px !important; }

		@media (max-width: 650px) {
			width: 200px !important;
			left: 0px !important;
			text-align: left !important;
		}

		@media (max-width: 415px) { top: 300px !important; }
		@media (max-width: 390px) {
			width: 150px !important;
			top: 250px !important;
		}

		@media (max-width: 360px) {
			width: 130px !important;
			top: 200px !important;
		}
	}
}